<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>登录页 </title>
    <link rel="stylesheet" type="text/css" href="/static/css/backsucai.css" charset="utf-8">
    <link rel="shortcut icon" href="/static/icon/logo2-t.ico" type="image/x-icon" />
</head>
<body class="theme theme_font_neoskeuo theme_space_neoskeuo theme_color_neoskeuo">

    <div align="center">
        <!--登陆页上部插入logo-->
        <img src="/static/logo/logo2-t.png"alt="logo"><br><br>
        <!--用户名输入框-->
        <input type="text" class="input decorator decorator_indent-b_xl" placeholder="请输入用户名" size="18"/><br>
        <!--密码输入框-->
        <input type="password" class="input decorator decorator_indent-b_xl" placeholder="请输入密码"size="18"/><br>
        <!--按钮-->
    <section class="decorator decorator_indent-b_3xl">
        <button class="button">
            登陆
        </button>
    </section><br><br>
     <section class="decorator decorator_indent-b_3x2">
        <button class="button">
            注册
        </button>
    </section>
    </div>
</body>
</html>